/* First ROW HEADING */
.row_posts {
  height: 100%;
  background-image: url("../../assets/svg/waves1.svg");
  background-position: center;
  background-size: cover;
}
.img_col {
  background-image: url("../../assets/svg/rocket.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  width: 420px;
  height: 420px;
}

.title_1 {
  color: #322153;
  font-weight: 800;
  font-size: 4.2rem;
}
.title_2 {
  font-size: 3.2rem;
  color: #16d69c;
  font-weight: 700;
}
.row_postCard {
  margin-top: 120px;
}
/* THIRD ROW ABOUT SECTION */
.about_section {
  /* height: 30vh; */
  margin: 80px 0;
}
.aboutSection_paragraph {
  color: #16d69c;
  margin-right: 70px;
  font-size: 1.8rem;
  font-weight: 800;
}

.search_inputForm {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  margin: auto;
  width: 430px;
  font-size: 1.6rem;
}
.search_input {
  font-size: 1.6rem;
}
.search_button,
.reset_button {
  margin-left: 20px;
  padding: 10px 30px;
}
.toggle_search {
  position: absolute;
  color: #322153;
  top: -80px;
  width: 24px;
  right: 20px;
  font-size: 2.4rem;
  cursor: pointer;
}
.reset_button {
  background-color: rgb(236, 233, 233);
}
.reset_button:hover {
  background-color: grey;
}
