/* CSS FOR ALL OF THE REUSEABLE COMPONENTS */

/* BUTTON */
.button_main {
  border: none;
  color: #322153;
  background-color: #00f2a9;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 25px;
}
.button_main:hover {
  color: white;
  background-color: #08ce95;
  transition: 0.2s all ease-in-out;
  border-radius: 25px;
}
/*  BUTTON END*/

/* CARD */
.posts_card {
  width: 230px;
  height: 230px;
  overflow: scroll;
  border: none;
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.05);
}
.posts_title1 {
  font-size: 2.6rem;
  color: #08ce95;
  font-weight: 700;
}
.posts_title2 {
  font-size: 2rem;
  padding-top: 20px;
  color: #322153;

  text-align: center;
}
.posts_text {
  font-size: 1.9rem;
  color: #322153;
}
.even {
  background-color: #00f2a9;
  color: #322153;
}
.addPost_button {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  font-size: 1.6rem;
}
.deletePost_button {
  position: absolute;
  top: 10px;
  left: 10px;

  visibility: hidden;
  cursor: pointer;
}
.updatePost_button {
  position: absolute;
  top: 10px;
  right: 10px;
  visibility: hidden;
  cursor: pointer;
}
.posts_card:hover .updatePost_button,
.posts_card:hover .deletePost_button {
  visibility: visible;
}
/*CARD END  */

/* MODAL CSS */
.modal-content {
  height: 500px;
  border-radius: 15px;
}
.modal-body {
  padding: 20px 40px;
}
.modal_header {
  font-size: 2.8rem;
  text-align: center;
  color: #322153;
  font-weight: 700;
}
.form-label {
  font-size: 2rem;
  color: #322153;
  padding: 15px 0 0px 0;
}
.form-control:focus {
  color: #322153;
  background-color: #fff;
  border-color: #0ca57740;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #0ca57740;
}
.post_textArea {
  height: 160px;
  font-size: 1.8rem;
}
.post_titleInput {
  font-size: 1.8rem;
}
.modal-footer {
  border: none;
  margin-bottom: 20px;
}
.add_button,
.cancel_button {
  width: 35%;
  font-size: 1.6rem;
}
.cancel_button {
  background-color: rgb(231, 228, 228);
}
.cancel_button:hover {
  background-color: grey;
}
/* modal css end */
